.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d7dcce58;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.intro-container {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    font-weight: 500;
}
.intro-container p {
    margin-bottom: 20px;
}

.intro-container h1 {
    font-size: 30px;
    padding-bottom: 20px;
}

.intro-container h3 {
    margin-top: 50px;
    font-size: 20px;
}

.elements-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-items: center;
    margin-bottom: 20px;
}

.second-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
}

.element-box {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    /* border: 1px solid #b4b4b4; */
    border-radius: 20px;
    background-color: #fbfbfa;
    gap: 20px;
    box-shadow: 2px 2px 10px rgb(170, 164, 164);
	border: solid rgb(188, 183, 183) 2px;
}

.picture-container {
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.picture-container img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.social-media-links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.social-media-links a {
    align-items: center;
    padding: 0 5px;
}

.social-media-links a:hover {
    color: #007bff;
    scale: 1.04
}

/* responsive styles */
@media screen and (max-width: 768px) {
    .elements-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .element-box{
        width: 90%;
        height: 80%;
    }
    
}