* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}
