.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.input-container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .input-field,
  .output-field {
    display: flex;
    margin-bottom: 10px;
    padding: 10px 10px 100% 10px;
    width: 100%;
    background-color: lightgray;
    border: none;
  }
  
  .submit-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  
  