.alternative-button, .reset-button {
    background-color: #a3b18a;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    padding: 7px 10px;
    border: none;
    color: #fff;
}

.reset-button{
    margin-left: 20px;
}

.alternative-button:hover, .reset-button:hover {
    background-color: #007bff;
}