footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
    box-shadow: 2px 2px 15px rgb(178, 177, 177);
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container img {
    width: 90px;
}

.copyright {
    margin-top: 20px;
}

.footer-link {
    text-decoration: none;
    color: #333;
    padding: 0 7px;
}

.footer-link:hover {
    border-left:  #a3b18a 3px solid;
    border-right: #a3b18a 3px solid;
    color: black;
    scale: 1.04;
}