.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 15px #b2b1b1;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 50px;
    background-color: rgb(49, 48, 48);
    color: white;
}
.header-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.logo-header {
    border-right: 3px solid #a3b18a;
    border-bottom: 3px solid #a3b18a;
    padding: 0 5px;
}

.logo-header:hover {
    transform: scale(1.01)
}

.header-nav-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 1em;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.header-nav-link {
    text-decoration: none;
    color: #fff;
    padding: 0 7px;
}

.header-nav-link:hover {
    border-left:  #a3b18a 3px solid;
    border-right: #a3b18a 3px solid;
    color: black;
}
.Login-container button {
    border: none;
    background: none;
    padding-left: 15px;
    margin: 0;
    font-size: inherit;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.Login-container button:hover {
    border-left: #a3b18a 3px solid;
    border-right: #a3b18a 3px solid;
    color: black;
}
.header-auth {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 101;
}

.hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background-color: #818181;
    position: relative;
}

.hamburger-menu.open div {
    background-color: transparent;
}

.hamburger-menu.open div:nth-child(2)::before,
.hamburger-menu.open div:nth-child(2)::after {
    position: absolute;
    content: "";
    height: 0.25rem;
    width: 2rem;
    background-color: #ffffff;
    top: 0;
    right: 0;
}

.hamburger-menu.open div:nth-child(2)::before {
    transform: rotate(45deg);
}

.hamburger-menu.open div:nth-child(2)::after {
    transform: rotate(-45deg);
}

/* Styles for desktop */
@media (min-width: 769px) {
    .header-nav {
        position: initial;
        height: auto;
        width: auto;
        background: none;
        transform: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hamburger-menu {
        display: none;
    }
}
/* Styles for mobile */
@media (max-width: 768px) {
    .header-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-out;
    }
    .header-nav.open {
        transform: translateX(0);
        background: rgba(163, 177, 138, 0.9)
    }
    .header-nav-link {
        font-size:xx-large;
        font-weight: 700;
        }
    .Login-container button {
        font-size:xx-large;
        font-weight: 700;
        margin-top: 50px;
    }
    .hamburger-menu {
        display: flex;
    }
    .header-nav-container {
        flex-direction: column;
    }
}
