.app {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

/* INPUT OUTPUT CONTAINERS/WRAPPERS */

.input-output-alternatives-content {
	height: 100%;
	min-height: 60vh;

	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 5em;
	flex-grow: 1;
}

.input-output-container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.input-output-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	padding: 4em 0 2em 0;
	margin: 0 5em;
	gap: 6em;
	min-height: 500px;
	width: 100%;
	max-width: 1300px;
	flex: 1;
}

textarea {
	resize: none;
}

/* SINGULAR INPUT/OUTPUT CONTAINER */

.input-container {
	background-color: #d7dcce;
	height: 100%;
}

@media only screen and (min-width: 750px) {
	.input-wrapper,
	.input-container,
	.input-field,
	.output-container,
	.output-wrapper,
	.output-field {
		border-radius: 20px;
	}

	.submit-btn-container {
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	.input-container,
	.output-container {
		box-shadow: 2px 2px 10px rgb(170, 164, 164);
		border: solid rgb(188, 183, 183) 2px;
	}

	.input-wrapper:focus,
	.input-wrapper:hover {
		border: solid rgb(107, 104, 104) 3px;
	}

	.input-wrapper,
	.input-wrapper {
		border: solid rgb(132, 127, 127) 2px;
	}

	.back-btn-container {
		display: none;
	}
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #d7dcce;
	justify-content: flex-end;
}

.output-container {
	background-color: #d7dcce;
	height: 100%;
}

.output-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.input-field,
.output-field {
	display: flex;
	padding: 40px;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 16px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.input-field:focus,
.output-field:focus {
	outline: none;
}

.input-field {
	background-color: #f8faf4;
	resize: none;
}

.output-field {
	background-color: #d7dcce;
	cursor: default;
}

.output-mini-buttons-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	padding: 30px;
}

/* SUBMIT BUTTON */

.submit-btn-container {
	display: flex;
	flex-direction: row-reverse;
	background-color: #f8faf4;
	cursor: default;
	padding: 30px;
}

.submit-button {
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 7px;
	font-size: 15px;
	height: 35px;
	align-items: center;
	display: flex;
}

.submit-button:hover {
	scale: 1.02;
}

/* MOBILE INPUT/OUTPUT DESIGN */

@media only screen and (max-width: 760px) {
	.app {
		height: 100%;
		min-height: calc(100vh - 75px);
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mobile-output-alternatives-wrapper {
		width: 100%;
		padding-bottom: 1em;
		height: 100%;
	}

	.mobile-output-container {
		width: 100%;
		border-radius: 20px;
		margin-top: 10px;
		height: 40%;
		background-color: #d7dcce;
	}
	.output-field {
		border-radius: 20px;
	}

	.input-container {
		width: 100%;
	}

	.input-wrapper {
		height: 100%;
	}

	/* --- alternative mobile --- */

	.alternative-container {
		padding-top: 10px;
		height: 60%;
	}

	.lexi-alternatives-container {
		/* height: 60%; */
		padding: 20px;
		line-height: 1.5;
		width: 100%;
		/* height: 300px; */
		overflow-y: auto;
		background-color: #d7dcce;
		border-radius: 15px;
		padding: 20px;
	}

	/* --- mobile buttons --- */

	.submit-btn-container {
		padding: 20px;
	}

	.back-btn-container {
		display: flex;
		justify-content: flex-end;
		padding-right: 20px;
		padding-bottom: 20px;
	}
}

/* ------------ Alternative Box ---------------------- */

@media only screen and (min-width: 760px) {
	.alternative-container {
		/* height: 400px; */
		margin-bottom: 20px;
	}

	.lexi-alternatives-container {
		line-height: 1.5;
		width: 100%;
		/* height: 300px; */
		overflow-y: auto;
		background-color: #d7dcce;
		border-radius: 15px;
		padding: 20px;
		box-shadow: 2px 2px 10px rgb(170, 164, 164);
		border: solid rgb(188, 183, 183) 2px;
	}
}

.alternative-buttons-container {
	padding: 0 0 1em 0;
	width: 100%;
	max-width: 1300px;
}

.alternative-container {
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 0;
	max-width: 1300px;
}
.lexi-alternative-text {
	padding: 20px;
}

.lexi-alternative-container {
	display: grid;
}

.lexi-alternative-container-buttons {
	justify-self: end;
	display: flex;
	gap: 8px;
	padding: 10px;
}

.CopyButton-div {
	display: flex;
	background-color: #d7dcce;
	margin-top: 0;
	justify-content: end;
	padding: 0 30px 20px 0;
	gap: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

/* ------------ Responsive input & output ------------ */

.input-output-wrapper > .input-container,
.output-container {
	width: 50%;
}
