.app {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.input-output-wrapper {
	display: flex;
	width: 100%;
	/* min-height: 65vh; */
}

.input-container {
	background-color: #d7dcce;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #d7dcce;
}

.output-container {
	height: 100%;
}

.output-wrapper {
	background-color: #d7dcce;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.input-field,
.output-field {
	display: flex;
	padding: 40px;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 16px;
}

.input-field:focus,
.output-field:focus {
	outline: none;
}

.input-field {
	background-color: #f8faf4;
	resize: none;
}

.output-field {
	height: 64.5vh;
	background-color: #d7dcce;
	resize: none;
}

.submit-button {
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 25px;
	bottom: 25px;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	font-size: 30px;
}

.submit-button:hover {
	scale: 1.02;
}

.back-button {
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	border-radius: 50%;
	position: fixed;
	rotate: 180deg;
	height: 55px;
	width: 55px;
	top: 50%;
	right: 15px;
	font-size: 30px;
}

.output-mini-buttons-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	padding: 15px;
}

/* ------------ Alternative Box ---------------------- */

.alternative-container {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 10px 0;
}

.alternative-output {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
}

.alternative-box {
	width: 100%;
	padding: 10px;
	margin: 10px 0 0 0;
	background-color: #d7dcce;
	border: none;
	height: 200px;
	font-size: 15px;
	resize: none;
}

.alternative-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.alternative-div {
	display: flex;
	width: 100%;
}

.CopyButton-div {
	display: flex;
	background-color: #d7dcce;
	margin-top: 0;
	justify-content: end;
	padding: 0 15px 15px 0; 
}

.alternative-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.alternative-div {
	display: flex;
	width: 100%;
}

.CopyButton-div {
	display: flex;
	background-color: #d7dcce;
	margin-top: 0;
	justify-content: end;
	padding: 0 15px 15px 0; 
	gap: 10px;
}

.alternative-wrapper h3 {
	padding-left: 30px;
}

/* ------------ Responsive input & output ------------ */

.input-output-wrapper > .input-container,
.output-container {
	width: 50%;
}

.input-output-wrapper {
	height: 64.5vh;
}

.input-output-wrapper .back-button {
	visibility: hidden;
}

.input-output-wrapper .submit-button {
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 48%;
	bottom: 63%;
	border-radius: 50%;
	height: 55px;
	width: 55px;
}
