.login-btn {
    border: none;
    background-color: #a3b18a;
    padding: 7px 15px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    color: #fff;
}

.login-btn:hover {
    background-color: #007bff;
    cursor: pointer;
}