.logout-btn {
    border: none;
    background-color: #007bff;
    padding: 7px 15px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left: 20px;
}

.logout-btn:hover {
    background-color: #007bff;
    cursor: pointer;
}